.nav-ul {
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: #00416D;
  width: auto;
  height: 50px;
  color: #f5f1da;
}
.nav-li {
  margin-top: 15px;
  text-align: justify;
  padding-right: 100px;
}
.me {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  color: #e3dfc8;
}
.me img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.me h1 {
  text-align: center;
}

.abt {
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  margin-right: 120px;
  margin-left: 60px;
  color: #f5f1da;
  margin-bottom: 40px;
  background-color: #00416D;
  box-shadow: -5px 5px 5px #00416D;
}
.abt h3 {
    padding-left: 40px;
}
.div-ul{
  list-style: none;
  display: flex;
  justify-content: center;
  
}
.div-li{
  text-align: justify;
  padding-right: 100px;
}
body{
  background-color: #f8bd7f;
}

