<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <hr />
    <ul>
        <li>Home</li>
        <li>About me</li>
        <li>Projects</li>
    </ul>
    <hr />
    <div class="me">
        <h1>MY PORTIFOLIO</h1>
        <img src="../static/img/peter.jpeg" alt="My image">
    </div>
    <div class="abt">
        <h3>Something small about me </h3>
        <p>I am by name <span>MUWANGUZI PETER</span>  currently doing Telecommunication Engineering at KYU. <br> I am passionate about Machine learning and neuralnetworks in particular, i also love quantum physics 
            <br> I am a greet Web developer, software developer good problem solver in C, Java, Nodejs,Python and Matlab/Octave <br>
                I am pretty good with web server administration and configuration using any linux distribution and nginx am also somewhere with deveops like Docker and virtualization and it support on common applications <br>
                I am working on my Google cloud certification with gcp on pluralsight thanks to GADScholarship.
        </p>
    </div>
      
</body>
</html>